html {
  font-size: 62.5%; }

body {
  color: #555; }

h2 {
  text-align: center;
  color: #2980b9;
  font-weight: 600;
  font-size: 3rem; }

h4 {
  font-size: 1.9rem; }
  h4::after {
    content: " ";
    display: block;
    height: 2px;
    width: 15rem;
    margin-top: .8rem;
    background-color: #2980b9; }

h3 {
  font-size: 2.2rem;
  text-transform: uppercase; }
  h3::after {
    content: " ";
    display: block;
    height: 2px;
    width: 30rem;
    margin-top: .8rem;
    background-color: #555; }

nav {
  font-size: 1.7rem; }
  nav .navbar-brand {
    font-size: 2.1rem; }
  nav #navbarNav .dropdown-menu {
    font-size: 1.4rem; }

#main-header {
  height: 75vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(41, 128, 185, 0.7), rgba(44, 62, 80, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  color: #fff;
  font-size: 1.7rem;
  position: relative; }
  #main-header .text-box {
    position: absolute;
    right: 40%;
    top: 50%;
    padding: 2rem; }
    #main-header .text-box__text {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-style: italic; }
    #main-header .text-box__btns .btn-lg {
      font-size: 1.6rem; }

#secondary-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(41, 128, 185, 0.7), rgba(44, 62, 80, 0.7)), url(../img/sec-head.jpg);
  background-size: cover;
  color: #fff;
  font-size: 1.7rem;
  position: relative; }
  #secondary-header .text-box {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 2rem; }

#onas {
  font-size: 1.7rem; }
  #onas img {
    height: 21rem; }

#ukazka {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/student.jpg");
  background-size: cover; }
  #ukazka .img-box {
    height: 22rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    #ukazka .img-box img {
      height: 22rem; }

#odbory {
  font-size: 1.7rem; }
  #odbory .title {
    font-size: 2.4rem; }
  #odbory .code {
    display: inline-block;
    font-size: 3rem;
    padding: 0;
    font-weight: 300; }
  #odbory .card-header {
    height: 12rem; }
  #odbory .card-body {
    height: 22rem; }

#skusky {
  font-size: 1.7rem;
  background-image: linear-gradient(to right bottom, rgba(41, 128, 185, 0.15), rgba(44, 62, 80, 0.15)); }
  #skusky .btn {
    font-size: 1.7rem;
    margin-top: 2rem; }
  #skusky .fa {
    font-size: 25rem; }
  #skusky .row {
    border-bottom: 1px solid #555; }
    #skusky .row:last-child {
      border: none; }

#main-footer {
  font-size: 1.7rem; }

#section-table {
  font-size: 1.7rem; }
  #section-table .fa {
    font-size: 2.3rem; }

.modal {
  font-size: 1.7rem; }
  .modal .modal-header h5 {
    font-size: 2rem; }
  .modal .modal-header button {
    font-size: 2rem; }
  .modal .modal-footer button {
    font-size: 1.7rem; }
