// colors
$primary-color-dark: #2c3e50;
$primary-color-light: #2980b9;
$color-white: #fff;
$color-gray-1: #555;
$color-black: #000;
$color-blue-gray: #607D8B;

// font sizes
$default-font-size: 1.7rem;

// General styles
html{
  font-size: 62.5%;
}
body{
  color: $color-gray-1;
}

// headings
h2{
  text-align: center;
  color: $primary-color-light;
  font-weight: 600;
  font-size: 3rem;
}

h4{
  font-size: 1.9rem;

  &::after{
    content: " ";
    display: block;
    height: 2px;
    width: 15rem;
    margin-top: .8rem;
    background-color: $primary-color-light;
  }
}

h3{
  font-size: 2.2rem;
  text-transform: uppercase;

  &::after{
    content: " ";
    display: block;
    height: 2px;
    width: 30rem;
    margin-top: .8rem;
    background-color: $color-gray-1;
  }
}

// Navbar
nav{
  font-size: $default-font-size;
  .navbar-brand{
    font-size: 2.1rem;
  }

  #navbarNav{
    .dropdown-menu{
      font-size: 1.4rem;
    }
  }
}

// Header styling
#main-header{
  height: 75vh;
  width: 100%;
  background-image:
  linear-gradient(to right,
  rgba($primary-color-light, .7), rgba($primary-color-dark, .7)),
  url(../img/hero.jpg);
  background-size: cover;
  color: $color-white;
  font-size: $default-font-size;
  position: relative;

  .text-box{
    position: absolute;
    right: 40%;
    top: 50%;
    padding: 2rem;

    &__text{
      text-transform: uppercase;
      font-size: 1.6rem;
      font-style: italic;
    }

    &__btns{
      .btn-lg{
        font-size: 1.6rem;
      }
    }
  }
}

#secondary-header{
  height: 50vh;
  width: 100%;
  background-image:
  linear-gradient(to right,
  rgba($primary-color-light, .7), rgba($primary-color-dark, .7)),
  url(../img/sec-head.jpg);
  background-size: cover;
  color: $color-white;
  font-size: $default-font-size;
  position: relative;

  .text-box{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 2rem;
  }
}

// Section onas
#onas{
  font-size: $default-font-size;

  img{
    height: 21rem;
  }

}

// Section ukazka
#ukazka{

  background-image: linear-gradient(to bottom right,
  rgba($color-white, .9), rgba($color-white, .9)), url("../img/student.jpg");
  background-size: cover;

  .img-box{
    height: 22rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba($color-black, .3);

    img{
      height: 22rem;
    }
  }
}

// Section odory
#odbory{
  font-size: $default-font-size;

  .title{
    font-size: 2.4rem;
  }

  .code{
    display: inline-block;
    font-size: 3rem;
    padding: 0;
    font-weight: 300;
  }

  .card{
    &-header{
      height: 12rem;
    }

    &-body{
      height: 22rem;
    }
  }
}

// Section skusky
#skusky{
  font-size: $default-font-size;
  background-image: linear-gradient(to right bottom, rgba($primary-color-light, .15), rgba($primary-color-dark, .15));

  .btn{
    font-size: $default-font-size;
    margin-top: 2rem;
  }
  
  .fa{
    font-size: 25rem;
  }

  .row{
    border-bottom: 1px solid $color-gray-1;
    

    &:last-child{
      border: none;
    }
  }
}

// Main Footer
#main-footer{
  font-size: $default-font-size;
}